# Firebase Configuration
FIREBASE_DB_URL=https://rdm-omnitensor-default-rtdb.firebaseio.com
FIREBASE_API_KEY=AIzaSyB9ouZqk4pxpx9sIyleteZR1O8vTDasT3c
FIREBASE_AUTH_DOMAIN=rdm-omnitensor.firebaseapp.com
FIREBASE_PROJECT_ID=rdm-omnitensor
FIREBASE_STORAGE_BUCKET=rdm-omnitensor.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=513232699098
FIREBASE_APP_ID=1:513232699098:web:0c5a3e28cdc75e7627efe3
FIREBASE_MEASUREMENT_ID=G-LKYQLXTF4J
CURRENT_SERVER_ID=usr_456

# Server Configuration
FLASK_PORT=5000
FLASK_DEBUG=False

# Cashfree Payment Gateway
CASHFREE_APP_ID=your_cashfree_app_id
CASHFREE_SECRET_KEY=your_cashfree_secret_key
CASHFREE_ENV=production
CASHFREE_API_VERSION=2023-08-01
PREMIUM_PRICE_INR=499
